{# /app//Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset("css/userPagesStyles/userUploadPage.css") }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>{% block title %} EPI {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('admin_homepage') }}">Accueil</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('admin_homepage')  }}"></a></li>
                            </ul>
                        </li>
                        {% if(is_granted('ROLE_ADMIN')) %}
                            <li class="{% if app.request.attributes.get('_route') == 'admin_homepage' %}active{% endif %}"><a href="{{ path('admin_homepage') }}">Utilisateurs</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                                <span class="caret">
								</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out">  Déconnexion  </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endif %}
    <div class="row">
        <div id="content" class="col-md-12">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                    <div class="alert alert-{{ type }}">
                        {{ message|html}}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body%}
            {% endblock %}
        </div>
    </div>
    <footer>
    </footer>
</div>
<script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
