{% extends "BGKTAdminBundle::layout.html.twig" %}

{% block body %}
    <h2>Réinitialiser le mot de passe</h2>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password, {'attr': {'class':'form-control'}}) }}
    </div>
    <input class="btn btn-info" type="submit" value="Réinitialier le mot de passe">
    {{ form_end(form) }}
{% endblock %}
