{% extends "BGKTAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>Modification du mot de passe :</h1>
    <div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input class="btn btn-primary" type="submit" value=" Modifier le mot de passe de l'utilisateur ">
        {{ form_end(form) }}
    </div>
{% endblock %}
