{% extends "BGKTCoreBundle::userLayout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/userPagesStyles/userHomePage.css") }}"/>
    {{ parent() }}
{% endblock %}
{#{% set devoirDepose = 0 %}#}
{% block user %}
    {% if is_granted('ROLE_STUDENT') %}
        <div class="container">
            <h1>Liste des devoirs que j'ai rendu :</h1>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Titre</th>
                    <th>Commentaire</th>
                    <th>Professeur concerné</th>
                    <th>Déposé le</th>
                    <th>Déposé par</th>
                    <th>Apercu / Supprimer / Modifier</th>
                </tr>
                </thead>
                <tbody>
                {% for devoir in lstdevoirEleve %}
                    <tr>
                        <td>{{ devoir.id }}</td>
                        <td>{{ devoir.getTitre }}</td>
                        <td>{{ devoir.getCommentaire }}</td>
                        {% for prof in lstProf %}
                            {% if devoir.getProfesseur == prof.id %}
                                <td> {{ prof.getNom }}&nbsp;{{ prof.getPrenom }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ devoir.getDateRendu|date('d/m/Y') }}</td>
                        <td>{{ devoir.getNomDepositaire }}</td>
                        <td><a class="btn btn-success" href="{{ asset('uploads/devoir/'~devoir.getDocument) }}">Aperçu
                                du devoir</a>
                            <a class="btn btn-info" href="{{ path('user_modifier_devoir', {'id': devoir.id}) }}">Modifier
                                le devoir</a>
                            <a class="btn btn-danger" href="{{ path('user_supprimer_devoir', {'id': devoir.id}) }}">Supprimer
                                ce devoir</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if is_granted('ROLE_TEACHER') %}
        <div class="container">
            <h1>Devoirs déposés par les élèves</h1>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Déposé par</th>
                    <th>Titre</th>
                    <th>Commentaire</th>
                    <th>Déposé le</th>
                    <th>Apercu / Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for devoir in lstdevoirprof %}
                    {% if devoir.getProfesseur == app.user.id %}
                        <tr>
                            <td>{{ devoir.id }}</td>
                            <td>{{ devoir.getNomDepositaire }}</td>
                            <td>{{ devoir.getTitre }}</td>
                            <td>{{ devoir.getCommentaire }}</td>
                            <td>{{ devoir.getDateRendu|date('d/m/Y') }}</td>
                            <td><a class="btn btn-success" href="{{ asset('uploads/devoir/'~devoir.getDocument) }}">Aperçu
                                    du devoir</a>
                                <a class="btn btn-danger" href="{{ path('user_supprimer_devoir', {'id': devoir.id}) }}">Supprimer
                                    ce devoir</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}