{% extends "BGKTCoreBundle::userLayout.html.twig" %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/userPagesStyles/userHomePage.css") }}" />
        {{ parent() }}
{% endblock %}
{# block user affiche l'acceuil pour les utilisateurs  #}
{% block user %}
    {% if is_granted('ROLE_TEACHER') %}
    <div class="container">
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Bienvenue sur l'EPI - {{ app.user.username }}</h2>
                <p class="text-center">Vous retrouverez ci-dessous les fonctionnalités de l&#39;EPII</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-time icon"></i>
                        <h3 class="name">Votre temps est précieux</h3>
                        <p class="description">Gagnez du temps en utilisant ce calendier. Il vous permettra d'optimiser votre emploi du temps.</p><a href="{{ path('user_calendarPage') }}" class="learn-more">En savoir plus >></a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                        <h3 class="name">Travaux Dirigés</h3>
                        <p class="description">Cette fonctionnalité vous permet de déposer vos TD et d&#39;avoir un suivi de ces derniers. Ils seront à la disposition des élèves.</p><a href="{{ path('user_uploadpageTD') }}" class="learn-more">En savoir plus >></a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-education icon"></i>
                        <h3 class="name">Dépot des cours</h3>
                        <p class="description">Cette fonctionnalité vous permet de déposer vos cours. Ils seront à la disposition des élèves.</p><a href="{{ path('user_uploadpage') }}" class="learn-more">En savoir plus >></a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}

    {% if is_granted('ROLE_STUDENT') %}
      {# TO DO : Coder la partie pour les étudiants#}
    {% endif %}
{% endblock  %}