{% extends "BGKTCoreBundle::userLayout.html.twig" %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/userPagesStyles/userHomePage.css") }}"/>
        {{ parent() }}
    {% endblock %}
    {% block user %}
        <div class="container">
        <h3>Informations sur mon cours :</h3>
        {% if is_granted('ROLE_TEACHER') %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-lg btn-success" value="Upload" />
            {{ form_end(form) }}

        {% endif %}
        </div>
    {% endblock %}